


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-title {
    font-size: 32px;
    margin-left: 680px;
  }
  .nav-right > ul  {
    display: flex;
    list-style-type: none;
    padding: 10px 15px;
    text-decoration: none;
    
    text-transform: uppercase;
    text-align: center;
    
  } 
  
  
  .nav-right > ul > li  {
    margin-right: 20px;

  } 
  
  .nav-right > ul > li > a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px;
    color: white;
    font-weight: bold;
  }
  
  .nav-right > ul > li > a:hover {
    background: #8423bd;
    border: 8px ;
    letter-spacing:2px;
    color: #f4f5f7;
    border-radius: 4px;
   
    padding: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(2, 2, 2, 0.397);
  }
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  p{
    font-size: 20px;
    color: #8423bd;
  }
  .upload-title {
    font-size: 54px;
    margin-bottom: 20px;
    color: #0979e2;
    
  }
  
  .upload-input {
    margin-bottom: 20px;
    padding: 10px;
    color: #bcb5c0;
background-color: #242222;
border-radius: 10px;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #0979e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #7c7991;
  }
  
/* 
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .navbar {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
  }
  
  .navbar-title {
    margin: 0;
  }
  
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .upload-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .upload-input {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .upload-button {
    width: 120px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }   */